web-soap-service/availability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://luxurystay.com/availability"
                  targetNamespace="http://luxurystay.com/availability">
    
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="checkAvailabilityRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="startDate" type="xs:string"/>
                        <xs:element name="endDate" type="xs:string"/>
                        <xs:element name="roomType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="checkAvailabilityInput">
        <wsdl:part name="parameters" element="tns:checkAvailabilityRequest"/>
    </wsdl:message>

    <wsdl:portType name="AvailabilityPort">
        <wsdl:operation name="checkAvailability">
            <wsdl:input message="tns:checkAvailabilityInput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AvailabilityBinding" type="tns:AvailabilityPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkAvailability">
            <soap:operation soapAction="checkAvailability"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AvailabilityService">
        <wsdl:port name="AvailabilityPort" binding="tns:AvailabilityBinding">
            <soap:address location="http://localhost:8081/availability"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
